help
[{"id":"f53517f.4356ce8","type":"tab","label":"dbmanager","disabled":false,"info":""},{"id":"221a14f5.9b471c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef69bd84.52738","type":"tab","label":"NVR","disabled":false,"info":""},{"id":"aaa11acf.fb0958","type":"subflow","name":"table","info":"","category":"","in":[{"x":60,"y":260,"wires":[{"id":"1d25991f.fba5b7"}]}],"out":[{"x":520,"y":260,"wires":[{"id":"c12776cc.ad3848","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2bc14d8.efdea8","type":"subflow","name":"iterate","info":"","category":"","in":[{"x":220,"y":219,"wires":[{"id":"493ef8f1.1daa08"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"493ef8f1.1daa08","port":0}]},{"x":455,"y":259,"wires":[{"id":"493ef8f1.1daa08","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"1a1a172a.1fff79","type":"sqlitedb","z":"","db":"C:\\tmp\\sqlite.db","mode":"RWC"},{"id":"96f8d34.b64783","type":"debug","z":"221a14f5.9b471c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":200,"wires":[]},{"id":"759840c1.912e2","type":"http in","z":"221a14f5.9b471c","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":250,"y":380,"wires":[["6004263a.87a728"]]},{"id":"6004263a.87a728","type":"file in","z":"221a14f5.9b471c","name":"","filename":"/tmp/test.csv","format":"","x":410,"y":380,"wires":[["f76a15c5.f589b8"]]},{"id":"f76a15c5.f589b8","type":"change","z":"221a14f5.9b471c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"\ttext/csv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":380,"wires":[["e874b34.c3df35"]]},{"id":"e874b34.c3df35","type":"http response","z":"221a14f5.9b471c","name":"","statusCode":"","headers":{},"x":750,"y":380,"wires":[]},{"id":"7d9d4109.6328d","type":"inject","z":"221a14f5.9b471c","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250,"y":480,"wires":[["b9de2195.ce465"]]},{"id":"b9de2195.ce465","type":"http request","z":"221a14f5.9b471c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://nodered.org","tls":"","persist":false,"proxy":"","authType":"","x":414.5,"y":480,"wires":[["cac3265e.6708d8"]]},{"id":"5c059331.311dac","type":"debug","z":"221a14f5.9b471c","name":"","active":true,"console":"false","complete":"false","x":770,"y":480,"wires":[]},{"id":"cac3265e.6708d8","type":"html","z":"221a14f5.9b471c","name":"","property":"","tag":".node-red-latest-version","ret":"text","as":"single","x":591.5,"y":480,"wires":[["5c059331.311dac"]]},{"id":"d318228b.eaa14","type":"http response","z":"221a14f5.9b471c","name":"","x":650,"y":580,"wires":[]},{"id":"575ec439.2956fc","type":"template","z":"221a14f5.9b471c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":510,"y":580,"wires":[["d318228b.eaa14"]]},{"id":"d68e7b83.09ece8","type":"http in","z":"221a14f5.9b471c","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":310,"y":580,"wires":[["575ec439.2956fc"]]},{"id":"d4f98eaa.7dea","type":"function","z":"f53517f.4356ce8","name":"test","func":"msg.topic = \"SELECT name FROM sqlite_master \\\n  WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%' \\\nUNION ALL \\\nSELECT name FROM sqlite_temp_master \\\n  WHERE type IN ('table','view') \\\nORDER BY 1;\"; \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["a874012.d6e12"]]},{"id":"292e2def.77eaa2","type":"function","z":"f53517f.4356ce8","name":"","func":"node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["56888267.e6034c"]]},{"id":"1d25991f.fba5b7","type":"function","z":"aaa11acf.fb0958","name":"","func":"msg.topic = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["c12776cc.ad3848"]]},{"id":"2c280de1.28f052","type":"subflow:aaa11acf.fb0958","z":"f53517f.4356ce8","name":"","env":[],"x":850,"y":180,"wires":[["56888267.e6034c"]]},{"id":"493ef8f1.1daa08","type":"function","z":"b2bc14d8.efdea8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"56888267.e6034c","type":"subflow:b2bc14d8.efdea8","z":"f53517f.4356ce8","name":"","env":[],"x":850,"y":280,"wires":[["2c280de1.28f052"],["538ec31d.2904ac"]]},{"id":"1b1b020a.3fd39e","type":"debug","z":"ef69bd84.52738","name":"","active":false,"console":"false","complete":"true","x":770,"y":160,"wires":[]},{"id":"4c9cdc02.d25864","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["ede05469.2ca688"]]},{"id":"f0a8554e.6e98c8","type":"exec","z":"ef69bd84.52738","command":"avconv -i rtsp://user:password@192.168.1.71:554/ch01.264 -frames 1 -qscale 1 -f image2 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Grab a frame","x":530,"y":80,"wires":[["6865d76.5e8dd28","46b25961.f1a238","8aedc513.7edbd8"],[],["1b1b020a.3fd39e","b48489fd.13f658"]]},{"id":"46b25961.f1a238","type":"debug","z":"ef69bd84.52738","name":"","active":false,"console":"false","complete":"true","x":770,"y":80,"wires":[]},{"id":"c52c899.c186378","type":"file","z":"ef69bd84.52738","name":"","filename":"/home/pi/avconv.out","appendNewline":true,"createDir":false,"overwriteFile":"true","x":820,"y":120,"wires":[[]]},{"id":"b48489fd.13f658","type":"function","z":"ef69bd84.52738","name":"Statistics","func":"var now = new Date();\nvar stat = context.get(\"stat\");\nif (stat===undefined) {\n    // Initialize the object in case NR restart\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n}\nif (msg.topic===\"reset\") {\n    // Reset message was received: reset statistics\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n} else {\n    // Update statistics\n    stat.count++;\n    if (msg.payload.code===0) {\n        stat.success++;\n    }    \n    stat.rate=stat.success/stat.count;\n    stat.last=now;\n}\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.success = stat.success;\nmsg.rate = Math.floor(stat.rate*100);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Frames: \"+msg.success+\" | \"+msg.rate+\"% | Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n\n// Saving data in the context\ncontext.set(\"stat\",stat);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["92a21e5b.f918c","76aff3d.500600c","17943105.a1a0cf"]]},{"id":"be31567.5e2d6a8","type":"inject","z":"ef69bd84.52738","name":"Reset stat","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":480,"y":280,"wires":[["b48489fd.13f658"]]},{"id":"a3f181b2.e10c9","type":"debug","z":"ef69bd84.52738","name":"","active":true,"console":"false","complete":"true","x":778.0000152587891,"y":1040.0000228881836,"wires":[]},{"id":"53f1ed3a.fc0074","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00001525878906,"y":1000.0000228881836,"wires":[["df2fc6a2.1937d8"]]},{"id":"f5c6480b.96f2d8","type":"exec","z":"ef69bd84.52738","command":"avconv -i rtsp://user:password@192.168.1.71:554/ch01.264 -r 10 -t 30 -y -vcodec copy -an ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Capture video","x":548.0000152587891,"y":960.0000228881836,"wires":[["178edf64.5ac401","ecc2da1d.27b5c8","8aedc513.7edbd8"],["d6550e5a.5c986"],["a3f181b2.e10c9","1fe72c4b.c1e3b4"]]},{"id":"ecc2da1d.27b5c8","type":"debug","z":"ef69bd84.52738","name":"","active":true,"console":"false","complete":"true","x":778.0000152587891,"y":960.0000228881836,"wires":[]},{"id":"d6550e5a.5c986","type":"file","z":"ef69bd84.52738","name":"","filename":"/home/pi/avconv.out","appendNewline":true,"createDir":false,"overwriteFile":"true","x":828.0000152587891,"y":1000.0000228881836,"wires":[[]]},{"id":"1fe72c4b.c1e3b4","type":"function","z":"ef69bd84.52738","name":"Statistics","func":"var now = new Date();\nvar stat = context.get(\"stat\");\nif (stat===undefined) {\n    // Initialize the object in case NR restart\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n}\nif (msg.topic===\"reset\") {\n    // Reset message was received: reset statistics\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n} else {\n    // Update statistics\n    stat.count++;\n    if (msg.payload.code===0) {\n        stat.success++;\n    }    \n    stat.rate=stat.success/stat.count;\n    stat.last=now;\n}\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.success = stat.success;\nmsg.rate = Math.floor(stat.rate*100);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Videos: \"+msg.success+\" | \"+msg.rate+\"% | Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n\n// Saving data in the context\ncontext.set(\"stat\",stat);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":668.0000152587891,"y":1160.0000228881836,"wires":[["b0c5d5c3.47deb8","20c52fbd.9b46f","b9101e52.68482"]]},{"id":"4e5e8310.8b2cfc","type":"inject","z":"ef69bd84.52738","name":"Reset stat","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":468.00001525878906,"y":1160.0000228881836,"wires":[["1fe72c4b.c1e3b4"]]},{"id":"bb5e9d7b.155e","type":"comment","z":"ef69bd84.52738","name":"Frame grabber","info":"This section of the flow is responsible for \ngrabbing a single out of the RTSP feed of the IP\nCamera. It uses avconv to do that which is part\nof the libav-tools for raspberry pi.\n\nThe trigger can be an inject, or a UI button.\nThe statistic node keeps a track of the number of\ngrabbed frames and the success rate (when the\nvideo conversion/grabbing was successful). The \nStatistic node also has a reset input which can \nbe used to periodically reset the stats (e.g.\ndaily, weekly).\n\nI directed the second output of the Exec node to\na file, as the output of the avconv is usually \nquite long and if there are errors you don't\nsee the entire output in the debug window, so in\nthat case just open to output and see what the issue\nis.","x":125.625,"y":36.5000057220459,"wires":[]},{"id":"6233e6cd.351be8","type":"comment","z":"ef69bd84.52738","name":"Video capture","info":"This section of the flow captures a fixed length \nvideo of the RTSP feed.\nIt works very similar to the frame capture above,\nthe only main difference is the parameters in the\ncommmand line.","x":118.00001525878906,"y":900.0000228881836,"wires":[]},{"id":"ede05469.2ca688","type":"change","z":"ef69bd84.52738","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["f0a8554e.6e98c8"]]},{"id":"df2fc6a2.1937d8","type":"change","z":"ef69bd84.52738","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/node-red-static/video.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.00001525878906,"y":960.0000228881836,"wires":[["f5c6480b.96f2d8"]]},{"id":"daeb65d0.6ef128","type":"function","z":"ef69bd84.52738","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["f0a8554e.6e98c8"]]},{"id":"ee32f9d7.fe7de8","type":"inject","z":"ef69bd84.52738","name":"Grab a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":380,"wires":[["daeb65d0.6ef128"]]},{"id":"81847b6b.3a75f8","type":"function","z":"ef69bd84.52738","name":"Save to DB","func":"// only run this if the topic contains 'store', so the manual frame grabs do not get\n// stored in the database\nif (msg.topic.indexOf(\"store\") !== -1) {\n\n    msg.topic = \"INSERT INTO nvr (type,path,wwwpath,filename,epoch) \" +\n            \"VALUES ('\"+msg.type+\"','\"+msg.path+\"','\"+msg.wwwpath+\"','\"+msg.file+\"',\"+msg.epoch+\");\";\n    \n    node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":340,"wires":[["13c68ef9.ccb0e1"]]},{"id":"9ad6c611.8e1e78","type":"function","z":"ef69bd84.52738","name":"Video capture","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"video_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".mp4\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"videotest\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":328.00001525878906,"y":1080.0000228881836,"wires":[["f5c6480b.96f2d8"]]},{"id":"a8f50444.211af8","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00001525878906,"y":1080.0000228881836,"wires":[["9ad6c611.8e1e78"]]},{"id":"b5f2930f.ec9e3","type":"function","z":"ef69bd84.52738","name":"Email image","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store|email\";                                  // Flag to store this image in the DB\nmsg.type = \"front\";                                         // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["f0a8554e.6e98c8"]]},{"id":"b69bb357.81b9b","type":"inject","z":"ef69bd84.52738","name":"Email a pic","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":420,"wires":[["b5f2930f.ec9e3"]]},{"id":"8aedc513.7edbd8","type":"function","z":"ef69bd84.52738","name":"Dummy","func":"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":380,"wires":[["81847b6b.3a75f8","c7e309f7.62e048","26b7a454.e57fec","66a59fad.5de19"]]},{"id":"c7e309f7.62e048","type":"function","z":"ef69bd84.52738","name":"Compose email","func":"// only run this if the topic contains 'email', so other types do not get emailed\nif (msg.topic.indexOf(\"email\") !== -1) {\n\n    msg.filename = msg.path + msg.file;\n    \n    node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":400,"wires":[["7dff6952.6921c8"]]},{"id":"7dff6952.6921c8","type":"change","z":"ef69bd84.52738","name":"Set up email","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": msg.file, \t    \"path\": msg.filename,\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Front door motion","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Motion has been detected at the front door<br>In attachment you can find a snapshot.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":400,"wires":[["12ef9ac0.aff235"]]},{"id":"dac4576b.ce61c8","type":"comment","z":"ef69bd84.52738","name":"Image / Video Log","info":"","x":138.00000762939453,"y":1664.0000324249268,"wires":[]},{"id":"f4b2c0a7.1ea7a","type":"template","z":"ef69bd84.52738","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>ID</th><th>Type</th><th>Timestamp</th><th>File</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{id}}</td>\n            <td>{{type}}</td>\n            <td>{{timestamp}}</td>\n            <td><a href=\"{{wwwpath}}{{filename}}\" target=\"_blank\">{{filename}}</a></td>\n        </tr>\n    {{/payload}}\n</table>\n","x":737.0000076293945,"y":2039.0000324249268,"wires":[["9c6619f5.364ee8"]]},{"id":"9dc1450.4b4ceb8","type":"function","z":"ef69bd84.52738","name":"SQL","func":"context.set(msg.topic,msg.payload);\n\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nvar enddate = 0;\n\nmsg.topic = \"SELECT * FROM nvr WHERE id>0 \";\n\nif (context.get(\"type\")!==undefined) {\n    if (context.get(\"type\")!==\"*\") {\n        msg.topic = msg.topic + \" AND type = '\"+context.get(\"type\")+\"'\";\n    }\n}\n\nif (context.get(\"time\")!==undefined) {\n    switch (context.get(\"time\")) {\n        case 0:\n            fromdate = epoch - 1000*60*60*24;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n        case 1:\n            fromdate = epoch - 1000*60*60*24*7;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n        case 2:\n            fromdate = epoch - 1000*60*60*24*30;\n            msg.topic = msg.topic + \" AND epoch > \"+fromdate;\n            break;\n    }\n}\n\n// msg.topic = msg.topic.substring(0,msg.topic.length-2);\nmsg.topic = msg.topic+ \" ORDER BY id\";\nreturn msg;","outputs":1,"noerr":0,"x":324.00000762939453,"y":2038.0000324249268,"wires":[["5a92d18.d37473"]]},{"id":"e24e463e.5f8a78","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.00000762939453,"y":2038.0000324249268,"wires":[["9dc1450.4b4ceb8"]]},{"id":"29fb7785.a8a488","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":278.00000762939453,"y":1904.0000324249268,"wires":[["fd985c6c.5c77a"]]},{"id":"fd985c6c.5c77a","type":"change","z":"ef69bd84.52738","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":458.00000762939453,"y":1904.0000324249268,"wires":[["742c8d45.1d9334"]]},{"id":"2966abfa.e26d84","type":"function","z":"ef69bd84.52738","name":"Process systems","func":"var output = [];\noutput.push({\"All systems\":\"*\"});\nfor (var i = 0; i < msg.payload.length; i++) {\n    obj = {};\n    obj [msg.payload[i].type]=msg.payload[i].type;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":478.00000762939453,"y":1784.0000324249268,"wires":[["1223fd33.092b53"]]},{"id":"17cc49fe.190216","type":"inject","z":"ef69bd84.52738","name":"Email 3 pics","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":460,"wires":[["3d531393.a13bcc"]]},{"id":"3d531393.a13bcc","type":"function","z":"ef69bd84.52738","name":"1st img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/1|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["beba099c.f7b938","f0a8554e.6e98c8"]]},{"id":"4567c6e0.abac18","type":"function","z":"ef69bd84.52738","name":"2st img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/2|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["b20bb072.bc59d","f0a8554e.6e98c8"]]},{"id":"3586ce9c.2ec8e2","type":"function","z":"ef69bd84.52738","name":"3rd img","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"3mail/3|delete\";                               // Flag to store this image in the DB\nmsg.type = \"temp\";                                          // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["f0a8554e.6e98c8"]]},{"id":"beba099c.f7b938","type":"delay","z":"ef69bd84.52738","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":520,"wires":[["4567c6e0.abac18"]]},{"id":"b20bb072.bc59d","type":"delay","z":"ef69bd84.52738","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":580,"wires":[["3586ce9c.2ec8e2"]]},{"id":"26b7a454.e57fec","type":"function","z":"ef69bd84.52738","name":"Compose email 3","func":"// only run this if the topic contains 'email', so other types do not get emailed\nif (msg.topic.indexOf(\"3mail\") !== -1) {\n\n    if (msg.topic.indexOf(\"/1\") !== -1) {\n        context.set(\"file1\", msg.path + msg.file);\n    }\n    if (msg.topic.indexOf(\"/2\") !== -1) {\n        context.set(\"file2\", msg.path + msg.file);\n    }\n    if (msg.topic.indexOf(\"/3\") !== -1) {\n        msg.file3 = msg.path + msg.file;\n        msg.file1 = context.get(\"file1\");\n        msg.file2 = context.get(\"file2\");\n        msg.payload = msg.file1 + \" \" + msg.file2 + \" \" + msg.file3;\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n        return msg;\n    }\n    \n}","outputs":1,"noerr":0,"x":1010,"y":460,"wires":[["5071df8a.4a921"]]},{"id":"5071df8a.4a921","type":"change","z":"ef69bd84.52738","name":"Set up email","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": \"Image1.jpg\", \t    \"path\": msg.file1,\t    \"content\": $$.payload\t},\t{\t    \"filename\": \"Image2.jpg\", \t    \"path\": msg.file2,\t    \"content\": $$.payload\t},\t{\t    \"filename\": \"Image3.jpg\", \t    \"path\": msg.file3,\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Front door motion","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Motion has been detected at the front door<br>In attachment you can find a 3 snapshots.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":460,"wires":[["12ef9ac0.aff235"]]},{"id":"9511cbc8.1a0508","type":"delay","z":"ef69bd84.52738","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":520,"wires":[["3761b3e4.cc28bc"]]},{"id":"3761b3e4.cc28bc","type":"exec","z":"ef69bd84.52738","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete images","x":1380,"y":520,"wires":[[],[],[]]},{"id":"ae8968d7.d4d0a8","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 3 * * *","once":false,"x":138.00000762939453,"y":1724.0000324249268,"wires":[["1e4eec86.bf2e23"]]},{"id":"1e4eec86.bf2e23","type":"change","z":"ef69bd84.52738","name":"Set SQL","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT DISTINCT type from nvr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":308.00000762939453,"y":1724.0000324249268,"wires":[["f22914a0.c05248"]]},{"id":"66a59fad.5de19","type":"function","z":"ef69bd84.52738","name":"Delete pictures","func":"// only run this if the topic contains 'email', so other types do not get emailed\nvar send = false;\nif (msg.topic.indexOf(\"delete\") !== -1) {\n\n    msg.payload = msg.path + msg.file;\n    send = true;\n    if (msg.topic.indexOf(\"/1\") !== -1) {\n        context.set(\"file1\", msg.path + msg.file);\n        send = false;\n    }\n    if (msg.topic.indexOf(\"/2\") !== -1) {\n        context.set(\"file2\", msg.path + msg.file);\n        send = false;\n    }\n    if (msg.topic.indexOf(\"/3\") !== -1) {\n        msg.file3 = msg.path + msg.file;\n        msg.file1 = context.get(\"file1\");\n        msg.file2 = context.get(\"file2\");\n        msg.payload = msg.file1 + \" \" + msg.file2 + \" \" + msg.file3;\n        send = true;\n    } \n        \n    if (send) {\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+msg.formatteddate});\n        return msg;\n    }\n\n    \n}","outputs":1,"noerr":0,"x":1000,"y":520,"wires":[["9511cbc8.1a0508"]]},{"id":"94d0409f.19a57","type":"inject","z":"ef69bd84.52738","name":"Tweet a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":620,"wires":[["ab5f4fdd.b5ee7"]]},{"id":"ab5f4fdd.b5ee7","type":"function","z":"ef69bd84.52738","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"tweet|delete\";                                 // Flag to store this image in the DB\nmsg.type = \"timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["f0a8554e.6e98c8"]]},{"id":"595b4ece.4f617","type":"inject","z":"ef69bd84.52738","name":"Grab a frame","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":810,"y":640,"wires":[["c9306876.9ef078"]]},{"id":"c9306876.9ef078","type":"change","z":"ef69bd84.52738","name":"Set filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/pi/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":640,"wires":[[]]},{"id":"dc389df5.b7cee","type":"comment","z":"ef69bd84.52738","name":"Delete old pictures","info":"","x":138.00000762939453,"y":2124.0000324249268,"wires":[]},{"id":"41ae32fc.abcf5c","type":"inject","z":"ef69bd84.52738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00000762939453,"y":2184.0000324249268,"wires":[["72da6fdf.2641a"]]},{"id":"72da6fdf.2641a","type":"function","z":"ef69bd84.52738","name":"SQL (older than 30 days)","func":"var d = new Date();\nvar epoch = d.getTime();\n\n// today - 30 days\nvar fromdate = epoch - 1000*60*60*24*30;\n\nmsg.topic = \"SELECT * FROM nvr WHERE epoch < \"+fromdate;\n\nreturn msg;","outputs":1,"noerr":0,"x":358.00000762939453,"y":2184.0000324249268,"wires":[["93dd1941.bede68"]]},{"id":"9a16f8f6.89e698","type":"exec","z":"ef69bd84.52738","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete images","x":1348.0000076293945,"y":2184.0000324249268,"wires":[[],[],[]]},{"id":"3a758468.424c9c","type":"split","z":"ef69bd84.52738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":798.0000076293945,"y":2184.0000324249268,"wires":[["954ca86a.c9bcd8"]]},{"id":"954ca86a.c9bcd8","type":"delay","z":"ef69bd84.52738","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"50","randomLast":"500","randomUnits":"milliseconds","drop":false,"x":948.0000076293945,"y":2184.0000324249268,"wires":[["a5fcf963.05fd48","249344d.9ea96bc"]]},{"id":"a5fcf963.05fd48","type":"change","z":"ef69bd84.52738","name":"Set SQL","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"DELETE * FROM nvr where filename='\" & payload.filename & \"'\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1128.0000076293945,"y":2244.0000324249268,"wires":[["81e5a65e.37d628"]]},{"id":"249344d.9ea96bc","type":"change","z":"ef69bd84.52738","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.path & payload.filename","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.0000076293945,"y":2184.0000324249268,"wires":[["9a16f8f6.89e698"]]},{"id":"287dc120.68420e","type":"inject","z":"ef69bd84.52738","name":"Noon timelapse","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":706,"wires":[["2f572e0b.984562"]]},{"id":"2f572e0b.984562","type":"function","z":"ef69bd84.52738","name":"Frame grab","func":"var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"/home/pi/node-red-static/\";                     // This is the path\nvar filename = \"noon_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"Noon timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":706,"wires":[["f0a8554e.6e98c8"]]},{"id":"742c8d45.1d9334","type":"ui_dropdown","z":"ef69bd84.52738","name":"Time filter","label":"","place":"","group":"f6f03a06.f02e28","order":3,"width":"4","height":"1","passthru":true,"options":[{"label":"Last 24 hrs","value":0,"type":"num"},{"label":"Last 7 days","value":1,"type":"num"},{"label":"Last 30 days","value":2,"type":"num"},{"label":"All","value":3,"type":"num"}],"payload":"","topic":"time","x":668.0000076293945,"y":1904.0000324249268,"wires":[["9dc1450.4b4ceb8"]]},{"id":"1223fd33.092b53","type":"ui_dropdown","z":"ef69bd84.52738","name":"Type","label":"","place":"","group":"f6f03a06.f02e28","order":5,"width":"5","height":"1","passthru":true,"options":[{"label":"All","value":"*","type":"str"},{"label":"timelapse","value":"timelapse","type":"str"},{"label":"front","value":"front","type":"str"},{"label":"videotest","value":"videotest","type":"str"}],"payload":"","topic":"type","x":678.0000076293945,"y":1784.0000324249268,"wires":[["9dc1450.4b4ceb8"]]},{"id":"f49ec9ae.7acc48","type":"ui_button","z":"f53517f.4356ce8","name":"","group":"c146385b.10c428","order":0,"width":0,"height":0,"passthru":false,"label":"Search tables","tooltip":"","color":"white","bgcolor":"#000","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":220,"wires":[["d4f98eaa.7dea"]]},{"id":"c12776cc.ad3848","type":"ui_button","z":"f53517f.4356ce8","name":"","group":"c146385b.10c428","order":1,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":260,"wires":[[]]},{"id":"6d27f2fc.45417c","type":"ui_button","z":"ef69bd84.52738","name":"Refresh","group":"e036895.8134178","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh image","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":84.59999084472656,"y":94.13333797454834,"wires":[["ede05469.2ca688"]]},{"id":"bf26de4e.281fe","type":"ui_button","z":"ef69bd84.52738","name":"Capture","group":"76aa30ec.44202","order":1,"width":0,"height":0,"passthru":false,"label":"Capture video","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":112.60000610351562,"y":954.1333608627319,"wires":[["df2fc6a2.1937d8"]]},{"id":"ff029257.f91cd","type":"ui_button","z":"ef69bd84.52738","name":"","group":"f6f03a06.f02e28","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"refresh","x":668.0000076293945,"y":1844.0000324249268,"wires":[["9dc1450.4b4ceb8"]]},{"id":"1c74a44a.0c73ec","type":"ui_text","z":"221a14f5.9b471c","group":"b0e9959d.fd3bf8","order":0,"width":0,"height":0,"name":"teadsafa","label":"Testsadsadsadsad","format":"{{msg.payload}}","layout":"col-center","x":540,"y":300,"wires":[]},{"id":"92a21e5b.f918c","type":"ui_text","z":"ef69bd84.52738","group":"d743cec.891cd3","order":1,"width":0,"height":0,"name":"Last time","label":"Last grab","format":"{{msg.formattedtime}}","layout":"row-spread","x":881.0000839233398,"y":200.39999198913574,"wires":[]},{"id":"76aff3d.500600c","type":"ui_text","z":"ef69bd84.52738","group":"d743cec.891cd3","order":2,"width":0,"height":0,"name":"Frame count","label":"Frames grabbed","format":"{{msg.success}}","layout":"row-spread","x":890.8999900817871,"y":236.1999807357788,"wires":[]},{"id":"17943105.a1a0cf","type":"ui_text","z":"ef69bd84.52738","group":"d743cec.891cd3","order":3,"width":0,"height":0,"name":"Success rate","label":"Success rate","format":"{{msg.rate}} %","layout":"row-spread","x":891.8999633789062,"y":274.1999740600586,"wires":[]},{"id":"b0c5d5c3.47deb8","type":"ui_text","z":"ef69bd84.52738","group":"c9626ef.839809","order":1,"width":0,"height":0,"name":"Video Last time","label":"Last grab","format":"{{msg.formattedtime}}","layout":"row-spread","x":888.0000152587891,"y":1080.0000228881836,"wires":[]},{"id":"20c52fbd.9b46f","type":"ui_text","z":"ef69bd84.52738","group":"c9626ef.839809","order":2,"width":0,"height":0,"name":"Video count","label":"Video files","format":"{{msg.success}}","layout":"row-spread","x":878.0000152587891,"y":1120.0000228881836,"wires":[]},{"id":"b9101e52.68482","type":"ui_text","z":"ef69bd84.52738","group":"c9626ef.839809","order":3,"width":0,"height":0,"name":"Video Success rate","label":"Success rate","format":"{{msg.rate}} %","layout":"row-spread","x":898.0000152587891,"y":1160.0000228881836,"wires":[]},{"id":"538ec31d.2904ac","type":"ui_template","z":"f53517f.4356ce8","group":"c146385b.10c428","name":"","order":1,"width":0,"height":0,"format":"<div id=\"val\"></div>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if(msg) {\n                document.getElementById('val').innerHTML = \"\";\n                for(var i = 0; i < msg.payload.length; i++) {\n                    document.getElementById('val').innerHTML += msg.payload[i].name + \"<br>\";\n                }\n            }\n        })\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1260,"y":220,"wires":[[]]},{"id":"6865d76.5e8dd28","type":"ui_template","z":"ef69bd84.52738","group":"e036895.8134178","name":"Static image","order":2,"width":0,"height":0,"format":"<div height=\"210\" style=\"height: 210px;\">\n<img src=\"/grab.jpg\"/ width=\"280\"><br/>\n<a href=\"/grab.jpg\" target=\"_blank\">Full screen</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":40,"wires":[[]]},{"id":"178edf64.5ac401","type":"ui_template","z":"ef69bd84.52738","group":"76aa30ec.44202","name":"Video link","order":2,"width":0,"height":0,"format":"<div height=\"70\" style=\"height: 70px;\">\n<a href=\"/video.mp4\" target=\"_blank\">Open video</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":788.0000152587891,"y":920.0000228881836,"wires":[[]]},{"id":"9c6619f5.364ee8","type":"ui_template","z":"ef69bd84.52738","group":"f6f03a06.f02e28","name":"Log output","order":6,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" height=\"600\" style=\"height: 600px;\"><br/></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":958.0000076293945,"y":2039.0000324249268,"wires":[[]]},{"id":"a874012.d6e12","type":"sqlite","z":"f53517f.4356ce8","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"read tables","x":470,"y":220,"wires":[["292e2def.77eaa2"]]},{"id":"13c68ef9.ccb0e1","type":"sqlite","z":"ef69bd84.52738","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1180,"y":340,"wires":[[]]},{"id":"5a92d18.d37473","type":"sqlite","z":"ef69bd84.52738","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":532.0000076293945,"y":2038.0000324249268,"wires":[["f4b2c0a7.1ea7a"]]},{"id":"f22914a0.c05248","type":"sqlite","z":"ef69bd84.52738","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":508.00000762939453,"y":1724.0000324249268,"wires":[["2966abfa.e26d84"]]},{"id":"93dd1941.bede68","type":"sqlite","z":"ef69bd84.52738","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":608.0000076293945,"y":2184.0000324249268,"wires":[["3a758468.424c9c"]]},{"id":"81e5a65e.37d628","type":"sqlite","z":"ef69bd84.52738","mydb":"1a1a172a.1fff79","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1348.0000076293945,"y":2244.0000324249268,"wires":[[]]},{"id":"12ef9ac0.aff235","type":"e-mail","z":"ef69bd84.52738","server":"smtp.gmail.com","port":"465","secure":true,"name":"youremail@gmail.com","dname":"Email notification","x":1390,"y":400,"wires":[]}]